* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    transition: all 0.3s;
    border: 2px solid black;
}
.display:hover{
    border:2px solid #019f55;
}
.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.container button:hover{
    background: #006335;

}

@media (max-width:850px) {
    .container {
        margin-top: 30%;
        width: 90%;
        max-width: 700px;
    }
}

@media (max-width:800px) {
    .display {
        width: 67%;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 26px 20px;

    }
}

@media (max-width:600px) {
    .display {
        margin-top: 44px;
        margin-bottom: 29px;
        padding: 18px 20px;

    }
    .display input {
    border: 0;
    outline: 0;
    font-size: 18px;
}
.display img {
    width: 25px;
    cursor: pointer;
}
}

@media (max-width:455px) {
    .display {
        margin-top: 35px;
        margin-bottom: 18px;
        padding: 10px 20px;
    }
    .container h1 {
    font-weight: 600;
    font-size: 27px;
}

    .display img {
        width: 15px;
        cursor: pointer;
        margin-left: -15px;
    }

    .display input {
        font-size: 12px;
    }
     .container button {
        font-size: 13px;
        font-weight: 300;
        padding: 1px 4px;
        margin-left: 31px;
    }   

    .container  button img {
        width: 22px;
        margin-right: 5px;
    }
      .container {
        margin-top: 40%;
    }
}

   
